<!-- <div style="margin-bottom: 1%" class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-3 col-md-3 col-xs-3">
      <a
        type="button"
        href="/orders/add"
        class="btn btn-block bg-gradient-primary"
        >Add Order</a
      >
    </div>
    <div class="col-sm-3 col-md-3 col-xs-3">
      <button id="generateInvoice" class="right btn btn-success">
        Generate Monthly Invoices
      </button>
    </div>
    </div> -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Invoices Details</h3>
          </div>
          <div class="card-body">
            <table id="invoiceTable" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Invoice No.</th>
                  <th>Customer</th>
                  <th>Order No.</th>
                  <th>Invoice for Month</th>
                  <th>Total Amount</th>
                  <th>Status</th>
                  <th>Created_at</th>
                  <th>Updated_at</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Invoice No.</th>
                  <th>Customer</th>
                  <th>Order No.</th>
                  <th>Invoice for Month</th>
                  <th>Total Amount</th>
                  <th>Status</th>
                  <th>Created_at</th>
                  <th>Updated_at</th>
                  <th>Actions</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  